HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# ==========================================
# 3. Credenciais de Banco de Dados e Segredos
# ==========================================
.env
.env.local
.env.development
application-secret.yml
secrets.json
db_credentials.xml
.db

# ==========================================
# 4. Logs e Arquivos do Sistema Operacional
# ==========================================
*.log
.DS_Store
Thumbs.db